#lifetime-icons img {
  height: var(--img-height);
  display: inline;
  padding: 4px;
}
span.image-container {
  width: calc(var(--img-height)*.75);
  display: inline-block;
  text-align: center;
}

#lifetimes-legend img {
  height: 1rem;
  display: inline;
  text-align: right;
}
:root {
  --img-height: 4rem;
}